<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DbConnection"  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Program Files (x86)\919767204466\WorldConnectServiceSetUp\OneWorld.mdf;Integrated Security=false;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=300"/>
	</connectionStrings>
	
</configuration>