<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1018" targetFramework="net472" />
  <package id="System.Diagnostics.EventLog" version="7.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ServiceProcess.ServiceController" version="7.0.0" targetFramework="net472" />
  <package id="Unity" version="5.11.10" targetFramework="net472" />
</packages>